body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0   ;
}

.container{
   border: 2px solid black;
    width: 640px;
    height: 480px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    background-color: gray;
}
.item{
    border: 3px solid red;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content:center ;
    
}
.item2{
    border: 3px solid rgb(0, 255, 76);
    width: 50px;
    height: 50px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}
