body{
    display: flex;
    align-items: center;
    background-color: rgb(243, 243, 247);
    height: 100vh;
    margin: 0;
    justify-content: center;
}
.container{
    border: 2px solid black;
    height: 480px;
    width: 640;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    align-content: center;
}
.item{
    border: 3px solid red;
    background-color: royalblue;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.item2{
    border: 3px solid blue;
    width: 70px;
    height: 70px;
}